@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
    font-family: "Raleway";
    src: url(../font1/Raleway/Raleway-Regular.ttf) format(truetype),
        url(../font1/Raleway/Raleway-Bold.ttf) format(truetype),
        url(../font1/Raleway/Raleway-Italic.ttf) format(truetype);
}

#body {

    background-color: #782221;
    width: 1160px;
    margin: auto;
    border-right: 2px solid black;
    box-sizing: border-box;
    font-family: "Raleway";
}

/*#div1{
    display: flex;
    justify-content: center;
 
}*/
#pro {
    border-radius: 50%;
    box-shadow: 0 0 20px #dbc2a4;
    width: 50%;
    height: auto;
}

#pro:hover {
    cursor: zoom-in;
}

#titre1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    font-weight: 400;
    font-size: 1em;
    width: 400px;

}

#address {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    background-color: #2c1d27;


}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#aside,
#corps {
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;


}

#aside {
    color: white;
    width: 300px;
    justify-content: space-evenly;

}

#aside_text {
    text-indent: 100px;
}

#corps {
    background-color: white;
    width: 860px;
    justify-content: flex-end;
}

#text_exp:hover,
#text_dip:hover,
#text_comp:hover {
    border-left: 5px solid#782221;
}

#footer {
    display: flex;
    justify-content: space-between;
    width: 200px;

}

#github:hover,
#linkedin:hover {
    opacity: 0.5;

}

#github,
#linkedin {
    width: 80PX;
    height: auto;
}

h3 {
    background-color: #dbc2a4;
    color: black
}


/*#div0 {
    font-family: "Raleway";
    essai git
}*/

h1,
h2,
h3 {
    font-family: "Lato", sans-serif;

}